<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Finder</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
      />
</head>

<title>Bayou Bird Identifier</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../static/styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="/">Bayou Bird Identifier</a></h1>
    
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search the site&hellip;"  onfocus="this.value=(this.value=='Search the site&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="GO" />
        </fieldset>
      </form>
    </div>
    <div id="topnav">
        <li><a href="/Our-Team">Our Team</a></li>
        <li><a href="/Model-Architecture">Model Architecture</a></li>
        <li><a href="/Project-Description">Project Description</a></li>
        <li class="active"><a href="/">Home</a></li>

    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->

<div class="wrapper col3">
  <div id="container">
    <div id="content">
      <h1>Our Team</h1>
      <img class="imgr" src="static/images/starko.jpg" alt="" width="125" height="125" />
      <p>ALICIA STARKO</p>
      <img class="imgr" src="static/images/Crystal_Headshot.jpg" alt="" width="125" height="125" />
      <p>CRYSTAL HO </p>
      <img class="imgr" src="static/images/Rekha.jpg" alt="" width="125" height="125" />
      <p>REKHA BASRA</p>
      <img class="imgr" src="static/images/" alt="" width="125" height="125" />
      <p>MEENA SURYANARAYANAN</p>   
      <img class="imgr" src="static/images/jennifer_cockerill.jpg" alt="" width="125" height="125" />
      <p>JENNIFER COCKERILL</p>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2023 - All Rights Reserved - <a href=>ExisTensor Crisis</a></p>
  
    <br class="clear" />
  </div>
</div>
</body>
</html>